<div id="login-error" class="login_error_wrap">
    wrong credentials
    <div><%= link_to "forget password", forget_password_path, class:"forget_password_link", data: {turbo_stream: true} %></div>
</div>